<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/app-entry/appIndex.html.d</key>
	<string>555905516</string>
	<key>/app-entry/css/index.css.d</key>
	<string>-350312330</string>
	<key>/app-entry/js/index.all.js.d</key>
	<string>-1449142353</string>
	<key>/app-entry/static/css/base-min-sea-vue.css.d</key>
	<string>-2100877525</string>
	<key>/app-entry/static/css/theme.css.d</key>
	<string>142670231</string>
	<key>/app-entry/static/css/tztui.min.css.d</key>
	<string>-1287112969</string>
	<key>/app-entry/static/font/tztNum-Medium.ttf.d</key>
	<string>1715109758</string>
	<key>/app-entry/static/font/tztNum.ttf.d</key>
	<string>1571142713</string>
	<key>/app-entry/static/js/all.js.d</key>
	<string>-829442006</string>
	<key>/app-entry/static/js/mescroll.js.d</key>
	<string>2111010473</string>
	<key>/app-entry/static/js/tzt.js.d</key>
	<string>-653734155</string>
	<key>/app-entry/static/js/tztui.min.js.d</key>
	<string>173108161</string>
	<key>/app-home/crmall/css/app.css.d</key>
	<string>1759873309</string>
	<key>/app-home/crmall/css/chunk-vendors.css.d</key>
	<string>-545551060</string>
	<key>/app-home/crmall/img/alert_0.png.d</key>
	<string>2035793792</string>
	<key>/app-home/crmall/img/dt.png.d</key>
	<string>459367160</string>
	<key>/app-home/crmall/img/empty-data.png.d</key>
	<string>1297302268</string>
	<key>/app-home/crmall/img/evaluate-icon.png.d</key>
	<string>464998454</string>
	<key>/app-home/crmall/img/guide-like-icon.png.d</key>
	<string>-1586281779</string>
	<key>/app-home/crmall/img/gxnj-icon.png.d</key>
	<string>510614416</string>
	<key>/app-home/crmall/img/hot-sale-icon.png.d</key>
	<string>-839620641</string>
	<key>/app-home/crmall/img/live-icon.png.d</key>
	<string>-1151423983</string>
	<key>/app-home/crmall/img/more-icon.png.d</key>
	<string>1866555011</string>
	<key>/app-home/crmall/img/news-icon.png.d</key>
	<string>-1234023329</string>
	<key>/app-home/crmall/index.html.d</key>
	<string>239754272</string>
	<key>/app-home/crmall/js/app.js.d</key>
	<string>1444499530</string>
	<key>/app-home/crmall/js/chunk-vendors.js.d</key>
	<string>-1071851438</string>
	<key>/app-home/mine/css/app.css.d</key>
	<string>603732152</string>
	<key>/app-home/mine/css/chunk-vendors.css.d</key>
	<string>1309381939</string>
	<key>/app-home/mine/fonts/tztNum-Medium.ttf.d</key>
	<string>1715109758</string>
	<key>/app-home/mine/fonts/tztNum.ttf.d</key>
	<string>1571142713</string>
	<key>/app-home/mine/img/analyze.png.d</key>
	<string>212488274</string>
	<key>/app-home/mine/img/aqsz.png.d</key>
	<string>1703515166</string>
	<key>/app-home/mine/img/bg.png.d</key>
	<string>-1541671473</string>
	<key>/app-home/mine/img/guide0.png.d</key>
	<string>-1518677190</string>
	<key>/app-home/mine/img/hand01.png.d</key>
	<string>-1440633515</string>
	<key>/app-home/mine/img/new-user-bg.png.d</key>
	<string>-2059928914</string>
	<key>/app-home/mine/img/star-0.png.d</key>
	<string>-1795512271</string>
	<key>/app-home/mine/img/star-4.png.d</key>
	<string>-318147063</string>
	<key>/app-home/mine/img/tab0.png.d</key>
	<string>-1486954817</string>
	<key>/app-home/mine/img/util-title.png.d</key>
	<string>-1500107658</string>
	<key>/app-home/mine/index.html.d</key>
	<string>64828567</string>
	<key>/app-home/mine/js/app.js.d</key>
	<string>1353253943</string>
	<key>/app-home/mine/js/chunk-vendors.js.d</key>
	<string>668450709</string>
	<key>/app-home/news/css/app.css.d</key>
	<string>-1249318325</string>
	<key>/app-home/news/css/chunk-vendors.css.d</key>
	<string>-1031017145</string>
	<key>/app-home/news/fonts/tzt-num.ttf.d</key>
	<string>1580404360</string>
	<key>/app-home/news/index.html.d</key>
	<string>-1401172081</string>
	<key>/app-home/news/js/app.js.d</key>
	<string>-1048353990</string>
	<key>/app-home/news/js/chunk-vendors.js.d</key>
	<string>117966450</string>
	<key>/app-home/tg/css/43.css.d</key>
	<string>-2013842528</string>
	<key>/app-home/tg/css/app.css.d</key>
	<string>1823521050</string>
	<key>/app-home/tg/css/home.css.d</key>
	<string>988085079</string>
	<key>/app-home/tg/img/jchd-title-icon.png.d</key>
	<string>-988664907</string>
	<key>/app-home/tg/img/mxtg-card-bg.png.d</key>
	<string>2441621</string>
	<key>/app-home/tg/img/mxtg-title-icon.png.d</key>
	<string>-2088204957</string>
	<key>/app-home/tg/img/spq-title-icon.png.d</key>
	<string>419316158</string>
	<key>/app-home/tg/img/tgs-title-icon.png.d</key>
	<string>2075598296</string>
	<key>/app-home/tg/img/tzmj-card-bg.png.d</key>
	<string>-1899472924</string>
	<key>/app-home/tg/img/tzmj-title-icon.png.d</key>
	<string>-1113688918</string>
	<key>/app-home/tg/img/wddy-title-icon.png.d</key>
	<string>-1919125950</string>
	<key>/app-home/tg/index.html.d</key>
	<string>982289697</string>
	<key>/app-home/tg/js/43.js.d</key>
	<string>-2089620579</string>
	<key>/app-home/tg/js/app.js.d</key>
	<string>709573801</string>
	<key>/app-home/tg/js/chunk-vendors.js.d</key>
	<string>1390598589</string>
	<key>/app-home/tg/js/home.js.d</key>
	<string>1886122185</string>
	<key>/app-main/HkStockConnect~credit~ordinary.js.d</key>
	<string>-1855326499</string>
	<key>/app-main/appName.js.d</key>
	<string>-1753990536</string>
	<key>/app-main/credit.js.d</key>
	<string>-1978219397</string>
	<key>/app-main/credit~ordinary.js.d</key>
	<string>-1536553267</string>
	<key>/app-main/fonts/tzt-num-medium.9366e37f.ttf.d</key>
	<string>1524369245</string>
	<key>/app-main/fonts/tzt-num.6bff4fd2.ttf.d</key>
	<string>1580404360</string>
	<key>/app-main/img/credit-buy.29ce6c20.png.d</key>
	<string>-675187127</string>
	<key>/app-main/img/credit-r-buy.834c93b8.png.d</key>
	<string>-1204895053</string>
	<key>/app-main/img/credit-r-sell.0f9bf42c.png.d</key>
	<string>-888043254</string>
	<key>/app-main/img/credit-return-coupons.cce4e25f.png.d</key>
	<string>-690500829</string>
	<key>/app-main/img/credit-return-money.1f295957.png.d</key>
	<string>1704353070</string>
	<key>/app-main/img/credit-sell.3067b3a4.png.d</key>
	<string>-2124948556</string>
	<key>/app-main/img/icon-back-order.97d362b4.png.d</key>
	<string>1311528190</string>
	<key>/app-main/img/icon-buy.8db8dccf.png.d</key>
	<string>-880507082</string>
	<key>/app-main/img/icon-position.e9d30005.png.d</key>
	<string>-776890430</string>
	<key>/app-main/img/icon-sell.eea65621.png.d</key>
	<string>-170337572</string>
	<key>/app-main/img/new.1d71b6c3.gif.d</key>
	<string>1083146863</string>
	<key>/app-main/main.js.d</key>
	<string>-442994277</string>
	<key>/app-main/ordinary.js.d</key>
	<string>-765288384</string>
	<key>/app-main/vendors.js.d</key>
	<string>2075028379</string>
	<key>/c/TZT.js.d</key>
	<string>1362984083</string>
	<key>/c/environment.js.d</key>
	<string>387713916</string>
	<key>/c/report/aes-encryption.js.d</key>
	<string>1098603253</string>
	<key>/c/report/sensors.js.d</key>
	<string>-1685337863</string>
	<key>/c/report/sensorsdata.min.js.d</key>
	<string>-2000319261</string>
	<key>/c/tztautotrack.js.d</key>
	<string>1559360116</string>
	<key>/c_modules/css/iconfont/tztNum-Medium.ttf.d</key>
	<string>1715109758</string>
	<key>/c_modules/css/iconfont/tztNum-Medium.woff2.d</key>
	<string>-714974976</string>
	<key>/c_modules/css/iconfont/tztNum.ttf.d</key>
	<string>1571142713</string>
	<key>/c_modules/css/iconfont/tztNum.woff2.d</key>
	<string>758493082</string>
	<key>/c_modules/tzt_common/TZT/TZT.js.d</key>
	<string>902059039</string>
	<key>/c_modules/tzt_common/apmPlus/apmPlus.js.d</key>
	<string>2143787540</string>
	<key>/c_modules/tzt_common/crsec-ui/crsec-ui.min.js.d</key>
	<string>-73847306</string>
	<key>/c_modules/tzt_common/crsec-ui/index.css.d</key>
	<string>166991007</string>
	<key>/c_modules/tzt_common/crsec-ui/skin01/theme.css.d</key>
	<string>-1417832860</string>
	<key>/c_modules/tzt_common/echarts/echarts.min.js.d</key>
	<string>1616438149</string>
	<key>/c_modules/tzt_common/jquery/jquery.min.js.d</key>
	<string>-201933289</string>
	<key>/c_modules/tzt_common/md5/md5.min.js.d</key>
	<string>1895998152</string>
	<key>/c_modules/tzt_common/vconsole/vconsole.min.js.d</key>
	<string>1642021109</string>
	<key>/c_modules/tzt_common/vue-router/vue-router.min.js.d</key>
	<string>-795190388</string>
	<key>/c_modules/tzt_common/vue/vue.runtime.min.js.d</key>
	<string>903432549</string>
	<key>/c_modules/tzt_common/vuex/vuex.min.js.d</key>
	<string>1464001569</string>
	<key>/c_modules/vconsole.min.js.d</key>
	<string>-2058744184</string>
	<key>/dist/src/hq/ResizeObserver.min.js.d</key>
	<string>-388990893</string>
	<key>/dist/src/hq/app.js.d</key>
	<string>-140480224</string>
	<key>/dist/src/hq/css/chart.css.d</key>
	<string>748312237</string>
	<key>/dist/src/hq/css/index.css.d</key>
	<string>551933548</string>
	<key>/dist/src/hq/css/index6.0.css.d</key>
	<string>-478604522</string>
	<key>/dist/src/hq/css/more-set-elder.css.d</key>
	<string>-692926599</string>
	<key>/dist/src/hq/css/skin01/index.css.d</key>
	<string>1579141200</string>
	<key>/dist/src/hq/css/v313.css.d</key>
	<string>100284582</string>
	<key>/dist/src/hq/css/v316.css.d</key>
	<string>-683943560</string>
	<key>/dist/src/hq/echarts.min.js.d</key>
	<string>1103478253</string>
	<key>/dist/src/hq/images/arrow-right.png.d</key>
	<string>-878297057</string>
	<key>/dist/src/hq/img/data_empty.png.d</key>
	<string>-1419096752</string>
	<key>/dist/src/hq/img/down_arrow.png.d</key>
	<string>-1082544517</string>
	<key>/dist/src/hq/img/up_arrow.png.d</key>
	<string>856503214</string>
	<key>/dist/src/hq/index.html.d</key>
	<string>-1224677019</string>
	<key>/dist/src/hq/js/aShares/balanceTwoFinanc.js.d</key>
	<string>1034353100</string>
	<key>/dist/src/hq/js/aShares/com/mainFunds.js.d</key>
	<string>122889701</string>
	<key>/dist/src/hq/js/aShares/com/north.js.d</key>
	<string>-40567873</string>
	<key>/dist/src/hq/js/aShares/com/riseFall.js.d</key>
	<string>-642970096</string>
	<key>/dist/src/hq/js/aShares/com/twoMelts.js.d</key>
	<string>63532041</string>
	<key>/dist/src/hq/js/aShares/index.js.d</key>
	<string>-784124227</string>
	<key>/dist/src/hq/js/aShares/mainFunds.js.d</key>
	<string>-1876344077</string>
	<key>/dist/src/hq/js/aShares/northboundFunds.js.d</key>
	<string>622679981</string>
	<key>/dist/src/hq/js/aShares/riseFallDistribution.js.d</key>
	<string>1554757131</string>
	<key>/dist/src/hq/js/optional/config.js.d</key>
	<string>1353591232</string>
	<key>/dist/src/hq/routes/routes.js.d</key>
	<string>1170025240</string>
	<key>/dist/src/hq/template/aShares/balanceTwoFinanc.html.d</key>
	<string>-1150206639</string>
	<key>/dist/src/hq/template/aShares/index.html.d</key>
	<string>1170707673</string>
	<key>/dist/src/hq/template/aShares/mainFunds.html.d</key>
	<string>1783729052</string>
	<key>/dist/src/hq/template/aShares/northboundFunds.html.d</key>
	<string>116775954</string>
	<key>/dist/src/hq/template/aShares/riseFallDistribution.html.d</key>
	<string>-109557402</string>
	<key>/dist/src/margin-trade/js/component/util.js.d</key>
	<string>2058559523</string>
	<key>/dist/src/user-info/ResizeObserver.js.d</key>
	<string>1483033458</string>
	<key>/dist/src/user-info/app.js.d</key>
	<string>-560981733</string>
	<key>/dist/src/user-info/css/index.css.d</key>
	<string>1820009982</string>
	<key>/dist/src/user-info/css/logout.css.d</key>
	<string>598046350</string>
	<key>/dist/src/user-info/css/olderVersion.css.d</key>
	<string>789834231</string>
	<key>/dist/src/user-info/css/skin01/index.css.d</key>
	<string>-322215214</string>
	<key>/dist/src/user-info/css/urbanization.css.d</key>
	<string>1655905357</string>
	<key>/dist/src/user-info/css/user.css.d</key>
	<string>-288241883</string>
	<key>/dist/src/user-info/css/v316.css.d</key>
	<string>1281368062</string>
	<key>/dist/src/user-info/img/user/theme.png.d</key>
	<string>-1725139597</string>
	<key>/dist/src/user-info/index.html.d</key>
	<string>1048228877</string>
	<key>/dist/src/user-info/js/user/common/util.js.d</key>
	<string>197036749</string>
	<key>/dist/src/user-info/js/user/common/xh-item.js.d</key>
	<string>1658378511</string>
	<key>/dist/src/user-info/js/user/set.js.d</key>
	<string>2134964981</string>
	<key>/dist/src/user-info/js/user/theme.js.d</key>
	<string>-678644020</string>
	<key>/dist/src/user-info/routes/routes.js.d</key>
	<string>-894292386</string>
	<key>/dist/src/user-info/routes/user.js.d</key>
	<string>-1643645682</string>
	<key>/dist/src/user-info/template/user/set.html.d</key>
	<string>1900925082</string>
	<key>/dist/src/user-info/template/user/theme.html.d</key>
	<string>-1896888148</string>
	<key>/dist/src/user-info/template/user/xh-item.html.d</key>
	<string>1924948063</string>
	<key>/dist/src/user-info/tztui.min.js.d</key>
	<string>1526722522</string>
	<key>/dist/static/api/function-zx.js.d</key>
	<string>1904705734</string>
	<key>/dist/static/api/mall-api/fundIA.js.d</key>
	<string>1524054386</string>
	<key>/dist/static/api/mall-api/mall.js.d</key>
	<string>104208184</string>
	<key>/dist/static/api/pro-api/based-on-the-fund-f10.js.d</key>
	<string>-1244093616</string>
	<key>/dist/static/api/pro-api/condition-stock.js.d</key>
	<string>-2064475668</string>
	<key>/dist/static/api/pro-api/condition.js.d</key>
	<string>-1356182660</string>
	<key>/dist/static/api/pro-api/data-center.js.d</key>
	<string>915709940</string>
	<key>/dist/static/api/pro-api/diagnose-stock.js.d</key>
	<string>-1568652915</string>
	<key>/dist/static/api/pro-api/f10-stock.js.d</key>
	<string>755813668</string>
	<key>/dist/static/api/pro-api/factor-analysis.js.d</key>
	<string>-1548661502</string>
	<key>/dist/static/api/pro-api/finance-report.js.d</key>
	<string>-781492450</string>
	<key>/dist/static/api/pro-api/form-stock.js.d</key>
	<string>-151261860</string>
	<key>/dist/static/api/pro-api/home.js.d</key>
	<string>1786627404</string>
	<key>/dist/static/api/pro-api/market-category.js.d</key>
	<string>1992235082</string>
	<key>/dist/static/api/pro-api/new-stock.js.d</key>
	<string>-433164896</string>
	<key>/dist/static/api/pro-api/similar-kline.js.d</key>
	<string>526743911</string>
	<key>/dist/static/api/pro-api/smart-tools.js.d</key>
	<string>-191413899</string>
	<key>/dist/static/api/pro-api/stock-report.js.d</key>
	<string>1674893583</string>
	<key>/dist/static/api/pro-api/stock-transfer.js.d</key>
	<string>-1760585691</string>
	<key>/dist/static/api/pro-api/strategy.js.d</key>
	<string>-1288692508</string>
	<key>/dist/static/api/pro-api/user-info.js.d</key>
	<string>300167862</string>
	<key>/dist/static/api/pro-api/video-live.js.d</key>
	<string>-1150379920</string>
	<key>/dist/static/css/base-min-sea-vue.css.d</key>
	<string>1590072699</string>
	<key>/dist/static/css/iconfont/iconfont.woff2.d</key>
	<string>7426346</string>
	<key>/dist/static/css/iconfont/tztNum-Medium.ttf.d</key>
	<string>1715109758</string>
	<key>/dist/static/css/iconfont3/tztNum-Medium.ttf.d</key>
	<string>1715109758</string>
	<key>/dist/static/css/olderVersion.css.d</key>
	<string>-310099762</string>
	<key>/dist/static/flexible/flexible.js.d</key>
	<string>-1891313583</string>
	<key>/dist/static/jquery/jquery-1.11.3.min.js.d</key>
	<string>928072448</string>
	<key>/dist/static/polyfill/polyfill.js.d</key>
	<string>918595452</string>
	<key>/dist/static/sea/sea.js.d</key>
	<string>-2103484209</string>
	<key>/dist/static/sea/seajs-text.js.d</key>
	<string>-1157436818</string>
	<key>/dist/static/swiper/swiper-5.3.6.min.js.d</key>
	<string>-314345676</string>
	<key>/dist/static/tzt-chart/d3.min.js.d</key>
	<string>-905343003</string>
	<key>/dist/static/tzt-chart/tzt-chart.js.d</key>
	<string>-131494856</string>
	<key>/dist/static/tzt-dict/tzt-dict.js.d</key>
	<string>-1756128285</string>
	<key>/dist/static/tztui/tztui5.min.css.d</key>
	<string>1389226203</string>
	<key>/dist/static/tztui/tztui5.min.js.d</key>
	<string>1402899088</string>
	<key>/dist/static/vue/vue-router.min.js.d</key>
	<string>-1349262405</string>
	<key>/dist/static/vue/vue.js.d</key>
	<string>-1033366599</string>
	<key>/dist/static/vue/vue2.6.11.js.d</key>
	<string>1625557022</string>
	<key>/hq-handicap/AppName.f9ee9566.js.d</key>
	<string>22625784</string>
	<key>/hq-handicap/libdist/MarketParse.common.js.d</key>
	<string>53542496</string>
	<key>/hq-handicap/main.js.d</key>
	<string>58761172</string>
	<key>/hq-handicap/more.d05bac14.js.d</key>
	<string>-1311049947</string>
	<key>/hq-handicap/vendors.fd21bb21.js.d</key>
	<string>-184824559</string>
	<key>/set/css/230.css.d</key>
	<string>755993304</string>
	<key>/set/css/app.css.d</key>
	<string>69261654</string>
	<key>/set/img/theme-0.png.d</key>
	<string>496500683</string>
	<key>/set/img/theme-1.png.d</key>
	<string>469474830</string>
	<key>/set/img/theme-2.png.d</key>
	<string>-1532121431</string>
	<key>/set/index.html.d</key>
	<string>758412493</string>
	<key>/set/js/230.js.d</key>
	<string>-1403871548</string>
	<key>/set/js/app.js.d</key>
	<string>268969011</string>
	<key>/set/js/chunk-vendors.js.d</key>
	<string>835210993</string>
	<key>/trade/position/css/chunk-vendors.css.d</key>
	<string>518757397</string>
	<key>/trade/position/css/index.css.d</key>
	<string>-526960173</string>
	<key>/trade/position/img/empty.png.d</key>
	<string>246180762</string>
	<key>/trade/position/index.html.d</key>
	<string>-1653309199</string>
	<key>/trade/position/js/chunk-vendors.js.d</key>
	<string>380397090</string>
	<key>/trade/position/js/index.js.d</key>
	<string>445659374</string>
</dict>
</plist>
