**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3
**/xcuserdata/**
*.xccheckout
*.xcscmblueprint
**/Pods/**
**/.symlinks/**
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/Generated.xcconfig
**/Flutter/ephemeral/**
**/Runner/GeneratedPluginRegistrant.*

