<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageNom</key>
		<string>行情报价</string>
		<key>imageSel</key>
		<string>行情报价</string>
		<key>title</key>
		<string>行情报价</string>
		<key>function_id</key>
		<string>101</string>
		<key>isdelete</key>
		<false/>
	</dict>
	<dict>
		<key>imageNom</key>
		<string>合约筛选</string>
		<key>imageSel</key>
		<string>合约筛选</string>
		<key>title</key>
		<string>合约筛选</string>
		<key>function_id</key>
		<string>102</string>
		<key>isdelete</key>
		<false/>
	</dict>
	<dict>
		<key>imageNom</key>
		<string>策略交易</string>
		<key>imageSel</key>
		<string>策略交易</string>
		<key>title</key>
		<string>策略交易</string>
		<key>function_id</key>
		<string>103</string>
		<key>isdelete</key>
		<false/>
	</dict>
	<dict>
		<key>imageNom</key>
		<string>股票交易</string>
		<key>imageSel</key>
		<string>股票交易</string>
		<key>title</key>
		<string>股票交易</string>
		<key>function_id</key>
		<string>104</string>
		<key>isdelete</key>
		<false/>
	</dict>
	<dict>
		<key>imageNom</key>
		<string>期权交易</string>
		<key>imageSel</key>
		<string>期权交易</string>
		<key>title</key>
		<string>期权交易</string>
		<key>function_id</key>
		<string>105</string>
		<key>isdelete</key>
		<false/>
	</dict>
	<dict>
		<key>imageNom</key>
		<string>重要通告</string>
		<key>imageSel</key>
		<string>重要通告</string>
		<key>title</key>
		<string>重要通告</string>
		<key>function_id</key>
		<string>106</string>
		<key>isdelete</key>
		<false/>
	</dict>
	<dict>
		<key>imageNom</key>
		<string>自选商品</string>
		<key>imageSel</key>
		<string>自选商品</string>
		<key>title</key>
		<string>自选商品</string>
		<key>function_id</key>
		<string>107</string>
		<key>isdelete</key>
		<false/>
	</dict>
	<dict>
		<key>imageNom</key>
		<string>市场统计</string>
		<key>imageSel</key>
		<string>市场统计</string>
		<key>title</key>
		<string>市场统计</string>
		<key>function_id</key>
		<string>111</string>
		<key>isdelete</key>
		<false/>
	</dict>
	<dict>
		<key>imageNom</key>
		<string>波动指数</string>
		<key>imageSel</key>
		<string>波动指数</string>
		<key>title</key>
		<string>波动指数</string>
		<key>function_id</key>
		<string>110</string>
		<key>isdelete</key>
		<false/>
	</dict>
	<dict>
		<key>imageNom</key>
		<string>历史行情</string>
		<key>imageSel</key>
		<string>历史行情</string>
		<key>title</key>
		<string>历史行情</string>
		<key>function_id</key>
		<string>112</string>
		<key>isdelete</key>
		<false/>
	</dict>
	<dict>
		<key>imageNom</key>
		<string>组合对冲</string>
		<key>imageSel</key>
		<string>组合对冲</string>
		<key>title</key>
		<string>组合对冲</string>
		<key>function_id</key>
		<string>109</string>
		<key>isdelete</key>
		<false/>
	</dict>
	<dict>
		<key>imageNom</key>
		<string>涨跌宝</string>
		<key>imageSel</key>
		<string>涨跌宝</string>
		<key>title</key>
		<string>涨跌宝</string>
		<key>function_id</key>
		<string>108</string>
		<key>isdelete</key>
		<false/>
	</dict>
    <dict>
        <key>imageNom</key>
        <string>龙虎榜</string>
        <key>imageSel</key>
        <string>龙虎榜</string>
        <key>title</key>
        <string>龙虎榜</string>
        <key>function_id</key>
        <string>115</string>
        <key>isdelete</key>
        <false/>
    </dict>
</array>
</plist>
